body{
	margin: 0px;
	padding: 0px;	
	background: url(https://img2.akspic.ru/originals/7/6/7/3/1/113767-zima-nebo-hokkej_na_ldu-sneg-hokkej-2560x1440.jpg)fixed;
}
#header{background: url(https://www.rabstol.net/uploads/gallery/main/391/rabstol_net_hockey_attribute_09.jpg) no-repeat; background-size:max-width: auto;
	width: auto;
	height: 400px;
	background-position: center;
	margin: 0px; size: 200%;

}
#buttons{
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
		display: flex;
	flex-wrap:wrap;
	width: 100%;
	height: auto;
	position: static;
	top: 430px;
	display: flex;
	justify-content: space-around;}
button{
	border-radius: 10px;
	height: 90px;
	width: 230px;
	cursor: pointer;}
button:hover{
	width: 240px;
	height: 95px;
	box-shadow: 0px 0px 1px black, 0 0 1em blue;
	transition: .8s;
	background-color: #ff9900;}
button:active{
	color-interpolation: :#ffff33;}
#content{
	margin-left:auto;
	margin-right: auto;
	margin-top: 10px;
	padding:5%;
	background: white;
	width: 70%;
	height: auto;
	position: static;
	box-shadow: -1px -1px 30px 0px #000000c7;}
li{
font-size: 110%;
font-family:  Comic Sans MS, Comic Sans, cursive;
	}
p{
	text-align: center;
	text-indent: 20px;
	font-size: 110%;
	font-family:  Comic Sans MS, Comic Sans, cursive; }
h1{
	font-family: 'Marmelad', sans-serif;
	margin: 30px; 
	color: #3399ff;
	text-shadow: 1px 1px 2px black, 0 0 1em blue;}
h2{
	text-indent: 40px;
	font-size: 30px;
	font-style: serif;
	color: #336699;
	text-shadow: 0px 0px 1px black, 0 0 1em blue;}
img{
	position: relative;
	box-shadow: 0 0 5px 0px black;
    margin: 10px;
}
#footer{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	background-color: #202121;
	width: 100%;
	height: auto;
	margin: 0px;
	padding-top: 110px;
	padding-bottom: 40px;
}
.footer1{ 
	position: relative;
	max-width: 33%;
	color:white;
	border: 3px;
	border-color: white;
	margin-right: 15px;
	margin-left: 15px;

}
h3{font-size: 24px;}